<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input
            (onEnter)="buscar( $event)"
            placeholder="Buscar por Capital"
        >
        </app-pais-input>
    </div>
</div>

<hr>
<div *ngIf="hayError"
    class="alert alert-danger p-2"
>
   <p class="text-center m-0">No se encontró el País {{ termino }}</p>
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-table [paises]="paises"></app-pais-table>
        
    </div>
</div>

